@import url("https://fonts.googleapis.com/css?family=Quicksand");

main {
    font-family: Quicksand, sans-serif;
    position: relative;
    display: block;
}
main::after {
    content: "";
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    opacity: 0.65;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}
form label {
    padding-top: 10px;
    padding-bottom: 10px;
}
form input {
    padding: 10px;
}
form fieldset{
    padding: 30px;
}
#submit {
    display: block;
    margin: auto;
    width: 100%;
}

